

:root{
    --pri-color:#0E2F3F;
    --sec-color:#002749;
    --white-color:#FFFFFF;
    --white1-color:#FEFEFE;
    --yellow-color:#DAA03B;
    --cream-color:#E7DAB9;
    --cream2-color:#EFE5CE;
    --cream3-color:#FBF9F5;
    --cream4-color:#D7C9AA;
    --blue-color:#4C40F7;
    --border-color:#DDDDDD;
    --gray-color:#6A6A74;
    --black-color:#151718;
    --black-color2:#041924;
    --orange-color:#FF7425 ;
    --green-color:#33CC79;
    --deep-rose-color:#E01E5A;
    --aqua-color:#1EDBDC;
    --title-color:#235E88;
    --title2-color:#0F5B80;
    --text-color:#4C4C4C;
    --text2-color:#1E1E1E;
    --text3-color:#122223;
    --btn1-color:#105C80;
    --btn2-color:#93184F;

}