@use '../../utils' as*;


.mobile-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 991;
    left: -100%;
    padding-bottom: 50px;
    transition: all 0.7s ease;
    z-index: 999;
    &-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--pri-color);
        opacity: 50%;
        top: 0;
        left: 0;

    }
    &-close{
        right: 10px;
        top: 20px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        background-color: var(--theme-color);
        color: var(--white-color);
        transition: $transition-3-ease;
        z-index: 999;
        & i{
            transition: $transition-3-ease;
        }
        &:hover{
            background-color: var(--theme-color2);
            border: 3px solid var(--theme-color);
            & i{
                transform: rotate(360deg);
            }
        }
    }
    &-logo{
        max-width: 200px;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        & a{
            width: 100%;
            height: auto;
            & img{
                width: 100%;
                height: 100%;

            }
        }

    }
    &-area{
        position: relative;
        padding: 60px 40px 50px 40px;
        height: 100vh;
        width: 70%;
        min-width: 250px;
        background-color: var(--pri-color);
        overflow-y: scroll;
        z-index: 999;
        @include breakpoint(max-sm){
            padding-left: 20px;
        }
        .social{
            margin-bottom: 40px;
            margin-top: 30px;
            display: flex;
            gap: 20px;
            & a{
                color:var(--white-color);
                transition: all 0.3s ease;
                & i{
                    font-size: 25px;
                }
                &:hover{
                    color: var(--yellow-color);
                }
            }
        }
        &.two{
            background-color: var(--text-color);
        }
        .icon-wrapper{
            background-color: var(--black-color2);
            right: 0;
            top: 150px;
            width: 65px ;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px 0 0 10px;
            .icon{
                padding-bottom: 15px;
                border-bottom: 1px solid var(--white-color);
                margin-bottom: 15px;
                &:nth-last-child(1){
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border-bottom: 0;
                }
            }
        }
        .member-strip{
        margin-top: 40px;
        @extend %d-flex,%item-center;
        max-width: 217px;
        height: 67px;
        gap: 1px;
        bottom: 35px;
        padding-left: 12px;
        border-radius: 90px;
        background-color: var(--black-color2);
        z-index: 990;
        transition: all 0.5s ease;
       
        & img{
            width: 43px;
            height: auto;
        }
        .member-text{
            font-family: $Ass;
            font-weight: 700;
            font-style: Bold;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 15%;
            text-align: center;
            vertical-align: middle;
            text-transform: uppercase;
            color: var(--white1-color);
            padding-left: 15px;
            transition: $transition-3-ease;
            &:hover{
                color: var(--yellow-color);
            }
           
        }
        & i{
            color: var(--white1-color);
        transition: all 0.5s ease;
        display: none;

        }
        .member-right{
            margin: 0 5px ;
            opacity: 0;
            visibility: hidden;
            &-active{
                opacity: 1;
                visibility: visible;
            }
        }
        .member-left{
            margin-right: 3px;
           
            &-hidden{
                opacity: 0;
                visibility: hidden;
            }
        }
        &-active{
            right: 0;
        }
    }
       
    }
    &-accordion-item{

            background-color: transparent;
            border: none;
            margin: 0;
            width: 100%;

        }
    &-accordion-header{
                @extend %d-flex;
                background-color: transparent;
                max-width: 250px;
                width: 100%;
                border: none;
                 margin: 0;
                 outline: 0;
                 border-bottom: 1px solid var(--body-color);
                 padding: 10px 0;
                 & a{
                    font-size: 16px;
                    font-weight: 700;
                    font-family: $Qui;
                    color: var(--white-color);
                    text-transform: capitalize;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    transition: $transition-3-ease;
                    &:hover{
                        color: var(--yellow-color)
                    }
                   
                 }
            }
                &-accordion-button{
                    @extend %d-flex,%justify-center,%item-center,%p-relative;
                    background-color: var(--btn1-color);
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: none;
                    margin: 0;
                    font-size: 0px;
                    font-weight: 500;
                    font-family: $Pop;
                    text-transform: uppercase;
                    border: 2px solid var(--yellow-color);
                    transition: $transition-3-ease;
                    transform: translateY(-6px);
                    margin-left: 10px;

                    & i{
                        color: var(--white-color);
                        font-size: 16px;
                        transform: rotate(-180deg);
                        transition: $transition-3-ease;
                        // display: block;
                       
                    }
                    // .plus{
                    //     display: none;
                    //     font-size: 16px;
                    //     font-weight: 900;
                    //     font-style: bold;
                    // }
                    // .minus{
                    //     @extend %p-center;
                    //     position: absolute;
                    //     font-size: 13px;
                    //     font-weight: 400;

                    // }
                &.collapsed{
                    background-color: var(--btn1-color);
                    // background-color: var(--theme-color2);
                    outline: none;
                    // color: var(--black-color);
                    border: none;
                    & i{
                        color: var(--white-color);
                        z-index: 990;
                        transform: rotate(360deg);

                    }
                    // .plus{
                    //     display: block;
                    // }
                    // .minus{
                    //     visibility: hidden;
                    //     opacity: 0;
                    // }

                }
                 

                }
    &-accordion-body{
                border: none;
                margin-top: 0;
                padding: 0;
                width: 100%;
                & ul{
                    list-style: none;
                    margin-left: 20px;
                    width: 230px;

                    & li{
                     width: 100%;
                        padding: 8px;
                        border-bottom: 1px solid var(--body-color);
                        & a{
                            padding: 10px 0;
                            color: var(--white-color);
                            font-size: 14px;
                            text-transform: uppercase;
                            font-family: $Dm;
                            font-weight: 600;
                            letter-spacing: 3px;
                            transition: $transition-3-ease;
                             & i{
                                margin-right: 6px;
                            }
                        }
                        &:hover{
                            & a{
                                color: var(--yellow-color);
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }
    
    &-active{
       @include breakpoint(max-lg){
        left: 0;
        opacity: 1;
        visibility: visible;
       }
    }
}