@use '../utils' as *;


/*----------------------------------------*/
/*  1.2 Common Classes
/*----------------------------------------*/
body{
	background-color: #FFFFFF;
	& ul{
		margin: 0;
		padding: 0;
	}
}

*{
	margin: 0;
	padding: 0;
}



.bg-green{
	background-color: var(--green-clr);
}
.bg-yellow{
	background-color: var(--yellow-clr);
}
.bg-blue{
	background-color: var(--blue-clr);
}
.bg-orange{
	background-color: var(--orange-clr);
}
.bg-gray  {
	background-color: var(--gray-clr);
}
.bg-cream  {
	background-color: var(--cream-clr);
}
.bg-white  {
	background-color: var(--white-clr);
}


.green{
	color: var(--green-clr);
}
.yellow{
	color: var(--yellow-clr);
}
.blue{
	color: var(--blue-clr);
}
.orange{
	color: var(--orange-clr);
}
.gray  {
	color: var(--gray-clr);
}
.white {
	color: var(--white-clr);
}

.cover{
	& img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: $transition-3-ease;
	}
}
.m-img{
	& img{
		max-width: 100%;
	}
}
img{
	max-width: 100%;
}

.fix {
    overflow:hidden;
}
.visible {
    overflow:visible;
}
.clear{
    clear: both;
}
.justify-center{
	justify-content: center;
}
.justify-end{
	justify-content: end;
}
.justify-start{
	justify-content: start;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.align-item-center{
	align-items: center;
}
.flex{
	display: flex;
}
.md-flex{
	@include breakpoint(max-md){
		display: flex;
	}
}
.xl-flex{
	display: flex;
	@include breakpoint(max-xl){
		display: flex;
	}
}
.lg-flex{
	display: flex;
	@include breakpoint(max-lg){
		display: flex;
	}
}
.d-block{
	display: block;
}
.sm-block{
	@include breakpoint(max-sm){
		display: block;
	}
}
.md-block{
	@include breakpoint(max-md){
		display: block;
	}
}
.lg-block{
	@include breakpoint(max-lg){
		display: block;
	}
}
.xl-block{
	@include breakpoint(max-xl){
		display: block;
	}
}
.row-reverse{
	flex-direction: row-reverse;
}
.reverse{
	flex-direction: reverse;
}
.md-col-reverse{
	@include breakpoint(max-lg){
		flex-direction: column-reverse;
	}
}
.mds-col-reverse{
	@include breakpoint(max-md){
		flex-direction: column-reverse;
	}
}
.sm-col-reverse{
	@include breakpoint(max-sm){
		flex-direction: column-reverse;
	}
}

.heebo{
	font-family: $Heb;
}
.lg-d-none{
	@include breakpoint(max-xl){
		display: none;
	}
}
.md-d-none{
	@include breakpoint(max-lg){
		display: none;
	}
}
.sm-d-none{
	@include breakpoint(max-sm){
		display: none;
	}
}

.z-index-1{
	z-index: 1;
}
.z-index-2{
	z-index: 2;
}
.z-index-3{
	z-index: 3;
}

.z-index-11{
	z-index: 11;
}
.bg-pos-end{
	background-position: bottom;
	background-repeat: no-repeat;
}
.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}
.overflow-x-visible{
	overflow-x: visible;
	overflow-y: hidden;
}

.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}

.ri-slide-transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.ri-slide-element {
	width: auto;
	display: inline-block;
}

.background-image,
[data-bg-src] {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.solid-bg {
	&.jarallax{
		height: 800px;
		@media #{$lg}{
			height: 600px;
		}
		@media #{$md}{
			height: 400px;
		}
		@media #{$xs}{
			height: 300px;
		}
	}
}