@use '../utils' as *;


/*----------------------------------------*/
/*  1.3 Default Spacing
/*----------------------------------------*/

/*--
    - Margin & Padding
-----------------------------------------*/
/*-- Margin Top --*/
@for $i from 1 through 140 {
    .mt-#{1 * $i}{margin-top: 1px * $i;}
}
/*-- Margin Bottom --*/
@for $i from 1 through 140 {
    .mb-#{1 * $i}{margin-bottom: 1px *$i;}
}
/*-- Margin Left --*/
@for $i from 1 through 100 {
    .ml-#{1 * $i}{margin-left: 1px * $i;}
}

/*-- Margin Right --*/
@for $i from 1 through 100 {
    .mr-#{1 * $i}{margin-right: 1px *$i;}
}

/*-- Padding Top --*/
@for $i from 1 through 150 {
    .pt-#{1 * $i}{padding-top: 1px *$i;}
}

/*-- Padding Bottom --*/
@for $i from 1 through 150 {
    .pb-#{1 * $i}{padding-bottom: 1px *$i;}
}

/*-- Padding Left --*/
@for $i from 1 through 130 {
    .pl-#{1 * $i}{padding-left: 1px *$i;}
}

/*-- Padding Right --*/
@for $i from 1 through 100 {
    .pr-#{1 * $i}{padding-right: 1px *$i;}
}

.mt-60{
    margin-top: 60px;
    @include breakpoint(max-md){
        margin-top: 40px;
    }
}
.mt-70{
    margin-top: 70px;
    @include breakpoint(max-md){
        margin-top: 40px;
    }
}
.mt-80{
    margin-top: 80px;
    @include breakpoint(max-md){
        margin-top: 60px;
    }
}
.mt-90{
    margin-top: 90px;
    @include breakpoint(max-md){
        margin-top: 60px;
    }
}
.mt-100{
    margin-top: 100px;
    @include breakpoint(max-md){
        margin-top: 60px;
    }
}


.mb-60{
    margin-bottom: 60px;
    @include breakpoint(max-md){
        margin-bottom: 40px;
    }
}
.mb-100{
    margin-bottom: 70px;
    @include breakpoint(max-md){
        margin-bottom: 40px;
    }
}
.mb-100{
    margin-bottom: 80px;
    @include breakpoint(max-md){
        margin-bottom: 60px;
    }
}
.mb-100{
    margin-bottom: 90px;
    @include breakpoint(max-md){
        margin-bottom: 60px;
    }
}
.mb-100{
    margin-bottom: 100px;
    @include breakpoint(max-md){
        margin-bottom: 60px;
    }
}
.pt-60{
    padding-top: 60px;
    @include breakpoint(max-md){
        padding-top: 40px;
    }
}
.pt-70{
    padding-top: 70px;
    @include breakpoint(max-md){
        padding-top: 40px;
    }
}
.pt-80{
    padding-top: 80px;
    @include breakpoint(max-md){
        padding-top: 60px;
    }
}
.pt-0{
    padding-top: 90px;
    @include breakpoint(max-md){
        padding-top: 60px;
    }
}
.pt-100{
    padding-top: 100px;
    @include breakpoint(max-md){
        padding-top: 60px;
    }
}


.pb-60{
    padding-bottom: 60px;
    @include breakpoint(max-md){
        padding-bottom: 40px;
    }
}
.pb-70{
    padding-bottom: 70px;
    @include breakpoint(max-md){
        padding-bottom: 40px;
    }
}
.pb-80{
    padding-bottom: 80px;
    @include breakpoint(max-md){
        padding-bottom: 60px;
    }
}
.pb-90{
    padding-bottom: 90px;
    @include breakpoint(max-md){
        padding-bottom: 60px;
    }
}
.pb-100{
    padding-bottom: 100px;
    @include breakpoint(max-md){
        padding-bottom: 60px;
    }
}





.pt-130{
    padding-top: 130px;
    @media #{$md} {
        padding-top: 80px;
    }
    @media #{$sm} {
        padding-top: 50px;
    }
}
.pb-130{
    padding-bottom: 130px;
    @media #{$md} {
        padding-bottom: 80px;
    }
    @media #{$sm} {
        padding-bottom: 50px;
    }
}
.pb-100{
    padding-bottom: 130px;
   @include breakpoint(max-lg){
    padding-bottom: 60px;
   }
}



.mt-130{
    margin-top: 130px;
    @media #{$md} {
        margin-top: 80px;
    }
    @media #{$sm} {
        margin-top: 50px;
    }
}

.mb-130{
    margin-bottom: 130px;
    @media #{$md} {
        margin-bottom: 80px;
    }
    @media #{$sm} {
        margin-bottom: 50px;
    }
}




