@use '../utils' as *;



.main-btn{
  z-index: 991;
 & a{
  display: inline-block;
  text-align: center;
  font-family: $Ass;
  font-weight: 700;
  font-style: Bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--cream-color);
  padding: 15px 45px;
  border: 1px solid var(--cream-color);
  border-radius: 5px;
  background-color: var(--btn1-color);
  transition: all 0.4s ease;
  &:hover{
  background-color: var(--btn2-color);

  }
 }
 &.red{
  & a{
    background-color: var(--btn2-color);
    &:hover{
      background-color: var(--btn1-color);
    }
  }
 }
}


.sec-btn{
 & a{
  display: inline-block;
  text-align: center;
  font-family: $Ass;
  font-weight: 700;
  font-style: Bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--text-color);
  padding: 15px 45px;
  border: 1px solid var(--btn1-color);
  border-radius: 5px;
  transition: all 0.3s ease;
  z-index: 99;
  position: relative;
   @include breakpoint(max-md){
               width: 100%;
            }
  &:hover{
    border: 1px solid var(--cream-color);
    color: var(--cream-color);
    background-color: var(--btn1-color);
  }
 }
}