@use '../../utils' as*;



.facilities{
    &-title{
        max-width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    &-item{
        padding: 30px 20px;
        border-radius: 10px;
        transition: $transition-3-ease;
        &:hover{
        background-color: var(--cream2-color);
        }
         @include breakpoint(max-xl){
               padding: 20px 10px;
            }
         @include breakpoint(max-md){
               padding: 30px 20px;
            }
        @include breakpoint(max-xsm){
               padding: 20px 10px;
            }
        &-thumb{
            width: 100%;
            height: 350px;
            border-radius: 10px;
            @include breakpoint(max-sm){
                height: 300px;
            }
            @include breakpoint(max-xsm){
                height: 250px;
            }
        }
        &-title{
            display: block;
            font-size: 23px;
            line-height: 32px;
            font-family: $Ass;
            font-weight: 600;
            color: var(--text3-color);
            margin-top: 30px;
            margin-bottom: 12px;
            letter-spacing: 3px;
            transition: $transition-3-ease;
            &:hover{
                color: var(--btn2-color);
            }
             @include breakpoint(max-xl){
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        & p{
            padding-right: 20px;
            font-size: 16px;
            line-height: 25px;
            font-family: $Ass;
            font-weight: 400;
            color: var(--text3-color);
            @include breakpoint(max-xl){
                padding-left: 10px;
                padding-right: 10px;
            }
            @include breakpoint(max-sm){
                line-height: 22px;
            }
        }
    }
    &-banner{
        height: 350px;
        @include breakpoint(max-lg){
            height: 250px;
        }
        @include breakpoint(max-sm){
            height: 200px;
        }
    }
}