@use '../../utils' as *;





.hero{
    width: 100%;
    height: 790px;
     @extend %p-relative,%of-hidden;
     @include breakpoint(max-lg){
                height: 600px;
            }
     @include breakpoint(max-sm){
                height: 534px;
            }
    &-area{
        @extend %p-relative ,%d-flex,%justify-center;
        align-items: center;
        .hero-video{
        @extend %p-absolute;
        left: 50%;
        top: 355px;
        transform: translateX(-50%);
        @include breakpoint(max-lg){
                display: none;
            }
        

        }
        .selector-area{
            @extend %d-flex,%item-center,%justify-between;
            background-color: #00000080;
            z-index: 999;
            margin-top: 600px;
            max-width: 680px;
            width: 100%;
            height: 70px;
            border-radius: 70px;
            padding-left: 10px;
            padding-right: 5px;
            @include breakpoint(max-lg){
                display: none;
            }
               .select-box{
                position: relative;
                width: 220px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 991;
             & i{
                    position: absolute;
                    color: var(--white1-color);
                    font-size: 20px;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: 990;
                }
             & select{
                background-color: transparent;
                appearance: none;
                border: none;
                outline: none;
                -webkit-appearance: none;
                color: var(--white1-color);
                font-size: 17px;
                z-index: 991;
                width: 100%;
                text-align: center;
               & option{
                background-color: #09346E;
                font-size: 20px;
                width: 300px;
                border: none;
                text-transform: capitalize;
                padding: 0;
                &:hover{
                    color: var(--yellow);
                }
               }
                
            }
            &.room{
                width: 150px;
                & select{
                border-left: 1px solid #FFFFFF;
                border-right: 1px solid #FFFFFF;
                }
            }
            &.guest{
                width: 110px;
            }
           }
           .go-btn{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background-color: #E1A439;
            border: 3px solid black;
            font-family: $Ass;
            font-weight: 500;
            font-style: Medium;
            font-size: 17px;
            line-height: 32px;
            letter-spacing: 0%;
            text-transform: capitalize;
            color: var(--white1-color);
            z-index: 99;
            // &::before{
            //     position: absolute;
            //     content: "";
            //     width: 61px;
            //     height: 61px;
            //     background-color: #E1A439;
            //     border-radius: 100%;
            //     z-index: -9;
            //     left: -6px;
            //     top: -6px;
                

            // }
           
           }

        }
    }
    .member-strip{
        @extend %p-absolute,%d-flex,%item-center;
        right: -110px;
        bottom: 35px;
        padding: 15px 15px 15px 15px ;
        border-radius: 100px 0 0 100px;
        background-color: var(--pri-color);
        transition: all 0.5s ease;
        @include breakpoint(max-lg){
                display: none;
            }
        .member-text{
            font-family: $Ass;
            font-weight: 700;
            font-style: Bold;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 15%;
            text-align: center;
            vertical-align: middle;
            text-transform: uppercase;
            color: var(--white1-color);
            padding-left: 15px;
           
        }
        & i{
            color: var(--white1-color);
        transition: all 0.5s ease;

        }
        .member-right{
            margin: 0 5px ;
            opacity: 0;
            visibility: hidden;
            &-active{
                opacity: 1;
                visibility: visible;
            }
        }
        .member-left{
            margin-right: 3px;
           
            &-hidden{
                opacity: 0;
                visibility: hidden;
            }
        }
        &-active{
            right: 0;
        }
    }
}

.opentext{
    box-shadow: 0 9px 26px #00000012 ;
    &-area{
        @extend %d-flex ,%item-center ,%flex-col;
        z-index: 990;
        .icon{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            z-index: 990;
            position: relative;
        }
        & i{
            display: block;
            width: 32px;
            height: 2px;
            background-color: #09346E;
            margin: 40px 0;
        }
        & p{
            font-family: $Qui;
            font-weight: 300;
            font-style: Light;
            font-size: 31px;
            line-height: 46px;
            text-align: center;
            color: var(--title-color);
            max-width: 822px;
            margin-bottom: 60px;
            @include breakpoint(max-md){
                font-size: 24px;
                line-height: 28px;
                margin-bottom: 34px;
            }
            & a{
                font-weight: 400;
                color: var(--title-color);
            }
        }
    }
    .booknow-wrap{
        left: 0;
        top: -200px;
        background-color: var(--btn1-color);
        padding: 30px;
        z-index: 991;
        transform: scale(.5);
        opacity: 0;
        width: 100%;
        visibility: hidden;
        transition: $transition-5-ease;
        @include breakpoint(max-xsm){
            top: -280px;
        }
        &-active{
            transform: scale(1);
            opacity: 1;
            visibility: visible;
        }
        & form{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        @include breakpoint(max-xsm){
                    grid-template-columns: 1fr;
                    gap: 15px;
                }
        .form-item{
            width: 100%;
           
            & label{
                font-family: $Qui;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 2px;
                color: var(--white-color);
                text-transform: capitalize;
                margin-bottom: 10px;
            }
            & input{
                width: 100%;
                height: 40px;
                padding: 0 15px;
                border-radius: 5px;
                background-color: var(--white-color);
                border: none;
                outline: 0;
                color: var(--text-color);
            }
            &:nth-last-child(2){
                grid-column: span 2;
                display: flex;
                align-items: center;
                @include breakpoint(max-xsm){
                    grid-column: span 1;
                }
                & label{
                    min-width: 100px;
                    margin-bottom: 0;
                }
                & input{
                    background-color: transparent;
                    color: var(--white-color);
                }
            }
            &:nth-last-child(3){
                grid-column: span 2;
                @include breakpoint(max-xsm){
                    grid-column: span 1;
                }
                & input{
                    background-color: var(--btn2-color);
                    color: var(--white-color);
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 2px;
                    
                }
            }
            &:nth-last-child(4){
                grid-column: span 2;
                @include breakpoint(max-xsm){
                    grid-column: span 1;
                }
                & select{
                    width: 100%;
                    height: 40px;
                    padding: 0 15px;
                    border-radius: 5px;
                }
            }
        }
        .booknow-close-btn{
            right: -10px;
            top: -20px;
            background-color: transparent;
            border: none;
            color: var(--white-color);
            transition: $transition-3-ease;
            &:hover{
                color: var(--btn2-color);
            }
        }
    }
    }
    
     .booknow-btn{
            display: none;
            width: 100%;
            padding: 30px 0;
            border-radius: 5px;
            color: var(--cream3-color);
            background-color: var(--btn2-color);
            text-transform: uppercase;
            font-size: 18px;
            letter-spacing: 3px;
            font-family: $Ass;
            font-weight: 700;
            left: 0;
            top: 130px;
            z-index: 991;
            text-align: center;
            border: none;
            outline: 0;
            @include breakpoint(max-lg){
                display: block;
            }
        }
}