@use '../../utils' as *;




.room{

    .container{
        @include breakpoint(max-sm){
            padding: 0;
        }
    }
    &-title{
         @include breakpoint(max-lg){
            padding: 0;
        }
         @include breakpoint(max-sm){
            padding: 0 20px;
        }
    }
  
    
    &-thumb-slider{
        max-width: 934px;
        height: 572px;
        overflow: hidden;
        border-radius: 10px;
        .slick-list{
            height: 100%;
            .slick-track{
                height: 100%;
            }
        }
        @include breakpoint(max-xl){
            max-width: 750px;
            height: 450px;
        }
        @include breakpoint(max-lg){
            height: 450px;
        }
        @include breakpoint(max-md){
            height: 350px;
        }
        @include breakpoint(max-sm){
            height: 300px;
        }
       
         .slick-dots{
            bottom: 22px;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            @include breakpoint(max-lg){
                    display: none;
                    }
            & li{
                & button{
                    background-color: var(--white-color);
                    display: block;
                    padding: 0;
                    height: 4px;
                    width: 25px;
                    &::before{
                        display: none;
                    }
                }
                &.slick-active{

                    & button{
                        background-color: var(--btn1-color);
                    }
                }

            }
            
           }
    }
    &-content{
        position: relative;
        &-area{
            @include breakpoint(max-lg){
                padding-bottom: 200px;
            }
            @include breakpoint(max-md){
                padding-bottom: 250px;
            }
        }
        &-thumb{
            border-radius: 10px;
            margin: 0 10px;
            // height: 572px;
            overflow: hidden;
            height: 100%;
            // margin-left: -2px;
             @include breakpoint(max-sm){
                margin: 0;
                }
        }
        &-text{
                @extend %p-absolute;
                max-width: 515px;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                padding: 70px 66px 40px 55px;
                background-color: var(--cream-color);
                border-radius: 15px;
                @include breakpoint(max-xl){
                    padding: 40px;
                    }
                @include breakpoint(max-lg){
                    right: inherit;
                    left: 50%;
                    transform: translateX(-50%);
                    top: inherit;
                    bottom: 0;
                    z-index: 99;
                    max-width: 550px;
                    width: 100%;
                    }
                @include breakpoint(max-md){
                    padding: 35px 25px;
                    width: 90%;
                    
                    }
                @include breakpoint(max-sm){
                    padding: 35px 25px;
                    width: 90%;
                    
                    }
                @include breakpoint(max-xsm){
                    padding: 25px 15px;
                    width: 90%;
                    
                    }
                   
                 &-title{
                    font-family: $Ass;
                    font-weight: 600;
                    font-size: 26px;
                    line-height: 32px;
                    letter-spacing: 3px;
                    color: var(--title2-color);
                    transition: $transition-3-ease;
                    &:hover{
                        color: var(--btn2-color);
                    }
                    @include breakpoint(max-md){
                        font-size: 23px;
                        line-height: 100%;
                    }
                     @include breakpoint(max-xsm){
                       font-size: 20px;
                    }
                 }
                
                 & p{
                    margin-top: 45px;
                    margin-bottom: 30px;
                    font-family: $Ass;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    line-height: 25px;
                    letter-spacing: 0%;
                    color: var(--text2-color);
                    &:nth-child(3){
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                    @include breakpoint(max-md){
                        margin-top: 20px;
                    }
                    @include breakpoint(max-sm){
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                   
                 }
                 .main-btn{
                    & a{
                        @include breakpoint(max-md){
                            width: 100%;
                        }
                    }
                 }
                  .text-area{
                        .icon1{
                            position: absolute;
                            top: -30px;
                            right: -30px;
                            @include breakpoint(max-sm){
                            right: -10px;
                            }
                            
                        }
                        .icon2{
                            position: absolute;
                            top: -30px;
                            right: 20px;
                              @include breakpoint(max-sm){
                                right: 30px;
                            }
                              @include breakpoint(max-xsm){
                                display: none;
                            }
                        }
                        &.hebrew{
                            .icon1{
                            position: absolute;
                            top: -30px;
                            right: inherit;
                            left: -30px;
                            @include breakpoint(max-sm){
                            left: -10px;
                            }
                            
                        }
                        .icon2{
                            position: absolute;
                            top: -30px;
                            left: 20px;

                              @include breakpoint(max-sm){
                                left: 30px;
                            }
                              @include breakpoint(max-xsm){
                                display: none;
                            }
                        }
                        }
                        .sec-btn{
                            & a{
                                @include breakpoint(max-md){
                                    width: 100%;
                                }
                            }
                        }
                    }
                    &.hebrew{
                        right: inherit;
                        left: 0;
                    }
            }
    }
    &-area{
        .sec-title{
        max-width: 800px;
        }
        .room-slider{
            margin-top: 88px;
             @include breakpoint(max-lg){
            margin-top: 32px
            }
           .room-content-item{
             @extend %p-relative;
            margin: 0 10px;
            @include breakpoint(max-lg){
            padding-bottom: 300px;
            }
            @include breakpoint(max-md){
            padding-bottom: 250px;
            }
            @include breakpoint(max-sm){
            padding-bottom: 300px;
            margin: 0;
            }
            
            .room-content-thumb{
                max-width: 930px;
                margin-left: 2px;
                border-radius: 10px;
                overflow: hidden;
                @include breakpoint(max-xl){
                    width: 750px;
                    }
                @include breakpoint(max-lg){
                    width: 100%;
                    }
                @include breakpoint(max-md){
                    height: 370px;
                    }
                @include breakpoint(max-sm){
                    margin-left: 0
                    }
                
                
            }
            .room-content-text{
                @extend %p-absolute;
                max-width: 515px;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                padding: 70px 66px 40px 55px;
                background-color: var(--cream-color);
                border-radius: 15px;
                @include breakpoint(max-xl){
                    padding: 40px;
                    }
                @include breakpoint(max-lg){
                    right: inherit;
                    left: 50%;
                    transform: translateX(-50%);
                    top: inherit;
                    bottom: 0;
                    z-index: 99;
                    max-width: 550px;
                    width: 100%;
                    }
                @include breakpoint(max-md){
                    padding: 35px 25px;
                    width: 90%;
                    
                    }
                   
                 &-title{
                    font-family: $Ass;
                    font-weight: 600;
                    font-size: 26px;
                    line-height: 32px;
                    letter-spacing: 3px;
                    color: var(--title2-color);
                    transition: $transition-3-ease;
                    &:hover{
                        color: var(--btn2-color);
                    }
                    @include breakpoint(max-md){
                        font-size: 23px;
                        line-height: 100%;
                    }
                 }
                 & h3{
                    font-family: $Ass;
                    font-weight: 600;
                    font-size: 26px;
                    line-height: 32px;
                    letter-spacing: 3px;
                    color: var(--title2-color);
                    @include breakpoint(max-md){
                        font-size: 23px;
                        line-height: 100%;
                    }
                 }
                 & p{
                    margin-top: 45px;
                    margin-bottom: 30px;
                    font-family: $Ass;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    line-height: 25px;
                    letter-spacing: 0%;
                    color: var(--text2-color);
                    &:nth-child(3){
                        margin-top: 20px;
                        margin-bottom: 0;
                    }
                    @include breakpoint(max-md){
                        margin-top: 20px;
                    }
                 }
                 .main-btn{
                    & a{
                        @include breakpoint(max-md){
                            width: 100%;
                        }
                    }
                 }
                  .text-area{
                        .icon1{
                            position: absolute;
                            top: -30px;
                            right: -30px;
                            @include breakpoint(max-sm){
                            right: -10px;
                            }
                            
                        }
                        .icon2{
                            position: absolute;
                            top: -30px;
                            right: 20px;
                              @include breakpoint(max-sm){
                                right: 30px;
                            }
                              @include breakpoint(max-xsm){
                                display: none;
                            }
                        }
                        .sec-btn{
                            & a{
                                @include breakpoint(max-md){
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
           }

           .slick-dots{
            bottom: 22px;
            width: auto;
            left: 30%;
            @include breakpoint(max-lg){
                    display: none;
                    }
            & li{
                & button{
                    background-color: var(--white-color);
                    display: block;
                    padding: 0;
                    height: 4px;
                    width: 25px;
                    &::before{
                        display: none;
                    }
                }
                &.slick-active{

                    & button{
                        background-color: var(--btn1-color);
                    }
                }

            }
            
           }
           &.hebrew{
            .slick-dots{
                left: inherit;
                right: 30%;
            }
           }
        }
        &.dinning{
        &-area{
            .room-slider{
                margin-top: 0;
           
              .slick-dots{
                left: inherit;
                right: 30%;
              }
              &.hebrew{
                .slick-dots{
                    right: inherit;
                    left: 30%;
                }
              }
            }
            .room-content-item{
                 @extend %d-flex, %justify-end; 
                 &.hebrew{
                 @extend %d-flex, %justify-start; 

                 }
            }
            .room-content-thumb{
                margin-right: 1px;
            }
            .room-content-text{
                 right: inherit;
                    left: 0;
                    padding-bottom: 80px;
                    
                    @include breakpoint(max-lg){
                        left: 50%;
                        transform: translateX(-50%);
                        padding-bottom: 40px;
                    }
                &.hebrew{
                    left: inherit;
                    right: 0;
                    @include breakpoint(max-lg){
                        left: 50%;
                        transform: translateX(-50%);
                        padding-bottom: 40px;
                    }
                }
            }
           
        }
        }
    }
    &-index{
        background-color: var(--cream3-color);
        box-shadow: 5px 10px 10px 0 rgba(37, 48, 75, 0.108);
        &-content{
           
            &-item{
                width: 100%;
                height: 588px;
                border-radius: 10px;
                position: relative;
                transition: $transition-6-ease;
                 @include breakpoint(max-xl){
                        height: 450px;
                    }
                 @include breakpoint(max-xsm){
                        height: 400px;
                    }
                &::after{
                    position: absolute;
                    content: " ";
                    width: 100%;
                    height: 100%;
                    background-color: var(--cream-color);
                    opacity: 50%;
                    left: 0;
                    bottom: 0;
                    z-index: 99;
                    height: 0px;
                    transition: $transition-6-ease;

                }
                &-text{
                    text-align: center;
                    width: 100%;
                    left: 50%;
                    padding: 0 50px;
                    transform: translateX(-50%);
                    bottom: 0;
                    z-index: 990;
                    @include breakpoint(max-xl){
                        padding: 0 20px;
                    }
                    @include breakpoint(max-lg){
                        padding: 0 50px;
                    }
                    .title{
                        display: block;
                        font-size: 40px;
                        line-height: 50px;
                        font-weight: 600;
                        font-family: $Ass;
                        text-transform: uppercase;
                        color: var(--cream-color);
                        letter-spacing: 3px;
                        margin-bottom: 40px;
                        transition: $transition-6-ease;
                        @include breakpoint(max-xsm){
                            font-size: 35px;
                            line-height: 45px;
                            }
                        &:hover{
                            color: var(--btn2-color);
                        }
                    }
                    & p{
                        font-size: 16px;
                        line-height: 25px;
                        font-weight: 400;
                        font-family: $Ass;
                        color: var(---text3-color);
                        opacity: 0;
                        transition: $transition-6-ease;
                    }
                }
                &:hover{
                    transform: translateY(30px);
                    @include breakpoint(max-lg){
                        transform: translateY(0);
                    }
                    &::after{
                        height: 100%;
                    }
                    .room-index-content-item-text{
                        .title{
                            color: var(--title-color);
                        }
                        & p{
                            opacity: 1;
                        }
                    }
                    .room-index-btn{
                            color: var(--title-color);

                    }
                }
            }
        }
        &-btn{
            display: block;
            font-size: 15px;
            line-height: 28px;
            font-weight: 700;
            font-family: $Ass;
            color: var(--cream-color);
            letter-spacing: 3px;
            text-transform: uppercase;
            margin-bottom: 20px;
            margin-top: 120px;
            transition: $transition-3-ease;
            z-index: 990;
             @include breakpoint(max-xl){
                margin-top: 40px;
            }
             &:hover{
                color: var(--btn2-color);
            }
        }
        &-title{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 60px;
        }
    }
    &-family{
        &-thumb{
            margin: 0 10px;
            width: 100%;
            height: 100%;
            border-radius: 10px;
            @include breakpoint(max-md){
                margin: 0 3px;
            }
        }
        &-slider{
             .slick-dots{
            bottom: 22px;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            @include breakpoint(max-lg){
                    bottom: inherit;
                    top: 40px;
                    }
            &.slick-slider{
                margin-bottom: 0;
            }
            & li{
                & button{
                    background-color: var(--white-color);
                    display: block;
                    padding: 0;
                    height: 4px;
                    width: 25px;
                    &::before{
                        display: none;
                    }
                }
                &.slick-active{

                    & button{
                        background-color: var(--gray-color);
                    }
                }

            }
            
           }
           &.slick-dotted.slick-slider{
            margin-bottom: 0;
            height: 570px;
            @include breakpoint(max-lg){
                height: 300px;
            }
            .slick-list{
                height: 100%;
                .slick-track{
                    height: 100%;
                }
            }
           }
        }
        &-content{
            background-color: var(--cream-color);
            border-radius: 15px;
            padding: 35px;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            @include breakpoint(max-lg){
                margin-top: 20px;
            }
            @include breakpoint(max-xsm){
                padding: 20px 15px;
            }
            &-title{
                display: block;
                font-size: 26px;
                line-height: 32px;
                font-family: $Ass;
                font-weight: 600;
                letter-spacing: 3px;
                color: var(--title2-color);
                transition: $transition-3-ease;
                @include breakpoint (max-sm){
                    font-size: 22px;
                    letter-spacing: 2px;
                }
                &:hover{
                    color: var(--btn2-color);
                }
            }
            &-icon-area{
                padding-top: 20px;
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid var(--cream4-color);
                display: flex;
                justify-content: space-between;
                & span{
                    display: inline-block;
                    margin-right: 13px;
                    padding-right: 13px;
                    border-right: 1px solid var(--cream4-color);
                   &:nth-last-child(1){
                    border-right: none;
                    padding: 0;
                    margin: 0;
                   }
                    & p{
                        display: inline-block;
                        font-size: 11px;
                        line-height: 25px;
                        font-weight: 400;
                        font-family: $Ass;
                        color: var(--btn1-color);
                    }
                }
            }
            &-icon-wrapper{
                display: flex;
                flex-wrap: wrap;
                gap: 25px;
                margin-bottom: 40px;
               .item{
                color: var(--title2-color);
                text-align: center;
                & img{
                    width: 18px;
                    height: auto;
                }
                & a{
                    display: block;
                    color: var(--title2-color);
                    letter-spacing: -0.3px;
                    font-size: 11px;
                    line-height: 18px;
                    font-family: $Ass;

                }
               }
            }
            &-toggle-btn{
                width: 10px;
                height: 10px;
                border: none;
                background-color: transparent;
                & i{
                    font-size: 10px;
                    color: var(--btn1-color);
                    transform: rotate(0);
                    transition: $transition-3-ease;

                }
                &.collapsed{
                    & i{
                    transform: rotate(180deg);
                    }
                }
            }
            & p{
                font-size: 16px;
                line-height: 25px;
                font-family: $Ass;
                font-weight: 400;
                color: var(--text2-color);
            }
            .main-btn{
                & a{
                    display: block;
                    margin-top: 35px;
                }
            }
        }
    }
}

.dinning{
    
    &-menu{
        .container{
              @include breakpoint(max-xsm){
                padding: 0;
            }
        }
        &-content{
            padding: 20px 15px 30px 15px;
            border-radius: 10px;
            transition: $transition-3-ease;
           
            &:hover{
                background-color: var(--cream2-color);
                .dinning-menu-content-thumb{
                    & img{
                        transform: scale(1.3);
                    }
                }
            }
            &-text{
                padding: 0 30px 0 10px;
                @include breakpoint(max-xl){
                    padding: 0 10px;
                }
            }
            &-thumb{
                width: 100%;
                height: 355px;
                border-radius: 10px;
                @include breakpoint(max-sm){
                    height: 300px;
                }
                @include breakpoint(max-xsm){
                    height: 250px;
                }

            }
            &-title{
                display: block;
                margin-top: 30px;
                margin-bottom: 10px;
                font-size: 23px;
                line-height: 32px;
                font-weight: 600;
                font-family: $Ass;
                color: var(---text3-color);
                letter-spacing: 3px;
                transition: $transition-3-ease;
                &:hover{
                    color: var(--btn2-color);
                }
            }
            & p{
                font-size: 16px;
                line-height: 25px;
                font-weight: 400;
                font-family: $Ass;
                color: var(---text3-color);
            }
        }
    }
}